@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', 'Poppins Fallback';
}

@layer base {
  :root {
    --background: #ebfff7;
    --color-heading: #0d5d9a;
    --color-text: #000;
    --border: 0 0% 89.8%;

  }
  .dark {
    --background: #041f35;
    --color-heading: #fff7ca;
    --color-text: #fff;
    --border: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
  }
}
